<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vardhaman.jewelapp" >


    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_logo"
        android:label="Jewels App"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".Splash_Activity"
            android:label="Jewels" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Activity"
            android:label="@string/title_activity_login_" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".Post_New_DemandActivity"
            android:label="@string/title_activity_post__new__demand" >
        </activity>
        <activity
            android:name=".ForgotActivity"
            android:label="@string/title_activity_forgot" >
        </activity>
    </application>

</manifest>
